.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/update_python_paths.py

# colcon build outputs
build/
install/
log/

# pixi
.pixi/

# downloaded AutoDRIVE simulator
.sim/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
